body {
  margin: 0;
  background-color: #e5e5e5;
}
#root {
  max-width: 1920px;
  width: 100%;
  background-color: #fff;
  margin: auto;
  top: 0;
}
.app {
  width: 100%;
  background-color: #fff;
}
